* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
p, p1 {
    font-weight: 900;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
a {
    text-decoration: inherit;
    color: #F9FAF8;
    font-size: 16px;
}
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px;
    gap: 7rem;
}
.column {
    display: flex;
    flex-direction: column;
}
.butt {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 6px;
    border: none;
    padding: 6px;
    border-radius: 10%;
}
.placeholder {
    background-color:  lightslategrey;
    text-align: center;
    align-content: center;
    min-width: 300px;
    min-height: 150px
}
p1 {
    font-weight: 900;
    font-size: 48px;
}
header {
    font-size: 36px;
    text-align: center;
    margin: 20px;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 1;

}
.boxy {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
}
.blue {
    border: solid 4px #3882F6;
    padding: 80px;
    background-color: #F9FAF8;
    border-radius: 10%;
    max-width: 100px;
    margin: 20px;
}
#hah {
    margin-bottom: 40px;
    text-align: center;
}
.last {
    width: 100px;
}
.thor-hero {
    background-color: lightgray ;
    padding: 100px;
    font-style: italic;
    opacity: 0.8;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}
.thor{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
    font-style: normal;
}
